{% extends 'base.html' %}

{% block heading %} Site Details - {{ site_name }} {% endblock %}

{% block content %}

<table class="table">
    <thead>
        <tr>
            <td><strong>Site</strong></td>
            <td><strong>A Value</strong></td>
            <td><strong>B Value</strong></td>
        </tr>
    </thead>

    <tbody>
        {% for sd in site_details %}
        <tr>
            <td>{{sd.detail_date}}</td>
            <td>{{sd.a_value}}</td>
            <td>{{sd.b_value}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
