{% extends "base.html" %}

{% block heading %} Summary {% endblock %}

{% block content %}
    <a href="/summary"><button type="button" class="btn btn-primary active">Sum</button></a>
    <a href="/summary-average"><button type="button" class="btn btn-primary">Average</button></a>

    <table class="table">
        <thead>
            <tr>
                <td><strong>Site</strong></td>
                <td><strong>A Value</strong></td><td><strong>B Value</strong></td>
            </tr>
        </thead>

        <tbody>
        {% for s in summary_data %}
            <tr>
                <td>{{s.name}}</td>
                <td>{{s.a_summary|floatformat:"2"}}</td>
                <td>{{s.b_summary|floatformat:"2"}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}